{% extends "base.html" %}
{% block title %}Send Bulk Messages{% endblock %}

{% block html_head %}
  <style type="text/css">
    .important {
      color: #336699;
    }
  </style>
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Send Broadcast Message</h4>
                    </div>
                    <div class="card-body">
                        <form action="" method="POST" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="customer_file" class="form-label">Customers' List CSV</label>
                                <input type="file" class="form-control" id="customer_file" name="customer_file" 
                                    accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" required/>
                            </div>
                            <div class="mb-3">
                                <label for="field_name" class="form-label">Phone # column</label>
                                <input class="form-control" id="field_name" name="field_name" placeholder="Enter phone number column title" />
                            </div>
                            <div class="mb-3">
                                <label for="message" class="form-label">Message</label>
                                <textarea class="form-control" id="message" name="message" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>    
{% endblock %}
